
<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <%= image_tag book.get_image %>
  <% end %>
  <% if @User == current_user %>
    <p><%= link_to "edit", edit_user_path(@user.id) %></p>
  <% end %>
  <%= book.title %>
  <%= book.body %>
</div>
<% end %>